.text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.documentsCount {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #327E8C;
  text-align: center;
}